* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    color: #222;
    padding-top: 80px;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 60px;
    background: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 26px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
}

.navbar a {
    color: #fff;
    margin-left: 25px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    position: relative;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: 0.3s ease;
}

.navbar a:hover::after {
    width: 100%;
}

/* Sections */
section {
    padding: 80px 20px;
    max-width: 900px;
    margin: auto;
}

section:nth-child(even) {
    background: #ffffff;
}

section:nth-child(odd) {
    background: #f0f5f4;
}

h1, h2 {
    color: green;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
}

h1 span {
    color: #333;
}

ul {
    list-style: circle;
    padding-left: 20px;
    line-height: 1.8;
}

a {
    color: green;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: green;
    color: #fff;
    border-radius: 6px;
    font-weight: 500;
    transition: 0.3s;
}

.btn:hover {
    background: #0b5e30;
}


.home-content {
    text-align: center;
    margin-top: 60px;
}

.home-content h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.home-content p {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto;
}
